*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato",sans-serif;
}
body{
  background-color: #4d6ef3;
  display: flex;
  justify-content: center;
  justify-content: center;
  align-items: center;
  color: #fff;
  min-height: 100vh;

}