button{
  text-transform: uppercase;
  padding: 1rem 1.5rem;
  background-color: #04ff00;
  border: none;
  color: #fff;
  opacity: .9;
  cursor: pointer;
  flex: 1;
}
button:hover{
  opacity: 1;
}
#clear-btn{
  background-color: #444;
}